* {
    margin: 0;
    padding: 0px;
    font-family: "DM Sans", sans-serif;
  }
  body {
    width: 100%;
  }
  .page-container {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  #hamburger {
    display: none;
  }

.navbar {
    background-color: white;
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    align-items: center;
    padding-left: 3vw;
    z-index: 1;
    box-shadow: 0px 3px rgba(204, 204, 204, 0.401);
    position: fixed;
  }
  
  .logo {
    width: 150px;
  }
  
  nav {
    flex: 1;
    text-align: right;
    z-index: 1;
  }
  nav ul {
    margin-bottom: 2%;
    /* background: aqua; */
  }
  nav ul li {
    margin-top: 2%;
    list-style: none;
    display: inline-block;
    position: relative;
    margin-right: 30px;
    cursor: pointer;
    /* background: aqua; */
  }
  nav ul li a {
    text-decoration: none;

    color: #1a1a1a;
  }
  nav ul li:nth-child(1) {
    color: #1a1a1a;
  }
  nav ul li:nth-child(3)::after {
    content: "";
    height: 2px;
    width: 100%;
    border-radius: 100px;
    background-color: #f7c873;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 100ms ease-in;
  }
  nav ul li a::after {
    content: "";
    height: 2px;
    width: 0;
    border-radius: 100px;
    background-color: #f7c873;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.2s ease-in;
  }
  nav ul li a:hover::after {
    color: #1a1a1a;
    width: 100%;
  }
  nav ul li a:hover {
    color: #1a1a1a;
  }
  .navbar input {
    margin-right: 4vw;
  }
  .navbar-options-right {
    padding-right: 4vw;
  }
  .profile-btn {
    width: 8vw;
    height: 2.4vw;
    font-size: 1.2vw;
    margin: -0.4vw 1vw;
    justify-content: center;
    /* margin: auto; */
    /* transform: translateX(60%); */
    background: #1a1a1a;
    color: #ffca6b;
    border-radius: 5px;
    border: #1a1a1a00;
    transition: 0.2s ease-in;
    cursor: pointer;
  }
  .profile-btn:hover {
    background: #f7d390;
    color: #1a1a1a;
  }
  .profile-btn:active {
    background-color: #ffb32b;
    box-shadow: 0 6px #ebebeb;
    transform: translateY(2px);
  }
  .navbar {
    margin-top: 1.5vw;
    margin-left: 4vw;
    height: 4.25vw;
    /* background: aqua; */
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0px 3px rgba(204, 204, 204, 0.401);
  }
/*  */


/* Coding nya amanda */

.body-container{
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    gap: 4vw;
}


.left, .right{
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
}

.header p{
    font-size: 1.75vw;
    font-weight: 700;
}

.opts{
    margin-top: 6vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;

}

.opts button{
    font-size: 1.2vw;
    font-weight: 500;
  }
  .opts a{
    text-decoration: none;
  }

button{
    padding: 1vw 0.5vw;
    width: 16vw;
    border-radius: 0.5vw;
    border-color: rgba(224, 224, 224, 0.288);
    box-shadow: 0.1vw 0.1vw rgba(224, 224, 224, 0.288);
    border-width: 0.1vw;
    cursor: pointer;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;

}

button a{
    text-decoration: none;
    color: #1a1a1a;
    font-size: 1.2vw;
    font-weight: 500;
}

button img{
    width: 2vw;
    height: max-content;
    margin-left: 1vw;
}

#portofoliomu img{
    width: 1.5vw;
    height: max-content;
    margin-left: 1.2vw;
    margin-right: 0.2vw;
}
#portofoliomu{
    background: #FFE5B5;
    transition: 0.2s ease-in;
}

#portofoliomu:hover
{
    background: #f7d390;
}

#keluar-akun{
    margin-top: 12vw;
    background: #FFC1C1;
    justify-content: center;
}

#keluar-akun a{
    margin-left: 1vw;
}

#keluar-akun img{
    width: 2vw;
    height: max-content;
}

.line-grey{
    background-color: #D9D9D9;
    width: 0.2vw;
    height: 40vw;
    margin-top: 10vw;

}

.judul{
    width: 10vw;
}

.judul h1{
    font-size: 1.75vw;
    font-weight: 700;
}
.lokasi{
    margin-left: 20vw;
}
.lokasi h1{
    font-size: 1.75vw;
    font-weight: 700;
}

.top-section{
    display: flex;
    flex-direction: column;
}

.section1{
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
}
.section2{
    display: flex;
    flex-direction: row;
    margin-top: 0.7vw;
}
.section2 .lokasi-portfolio{
    margin-left: 22.3vw;
  
}

.second-line{
    margin-top: 1vw;
}

.durasi h1{
    font-size: 1.75vw;
    font-weight: 700;
}

.section3{
    display: flex;
    flex-direction: row;
    margin-top: 0vw;
}

.durasi-akhir{
    margin-left: 26.8vw;
}

.durasi-mulai, .durasi-akhir{
    color: #898989;
    font-size: 1.3vw;
    font-weight: 100;
}

.section4{
    display: flex;
    margin-top: 1vw;
}

.durasi-akhir-portfolio{
    margin-left: 22vw;
}

.deskripsi{
    margin-top: 1vw;
}

.deskripsi h1{
    font-size: 1.75vw;
    font-weight: 700;
}

.deskripsi-portfolio p{
    width: 55vw;
    margin-top: 1vw;
    text-align: justify;
    font-size: 1.2vw;
}

.bottom-section{
    display: flex;
    flex-direction: row;
    margin-top: 1.5vw;
}

.catatan-lainnya-core{
    width: 50vw;
    margin-left: 2vw;
}

.catatan-lainnya h1{
    font-size: 1.75vw;
}

.catatan-lainnya-portfolio p{
    font-size: 1.2vw;
    text-align: justify;
    margin-top: 1vw;
}

.arrow-left{
    /* background: aqua; */
    margin-left: -2.2vw;
    width: 3vw;
    margin-top: -3.0vw;
}

#arrow-left{
    font-size: 1.5vw;
}

.first-line, .second-line, .third-line, .bottom-section{
    /* background: aqua; */
    margin-top: 1vw;
}

.right-container .header p{
    font-size: 2vw;
}


@media only screen and (max-width: 768px) {
    .title h1 {
      font-size: 20px;
    }
    .title h3 {
      font-size: 15px;
      text-align: justify;
    }
    .page-container {
      padding: 15% 10%;
      display: flex;
      flex-direction: column;
    }
    .logo {
      width: 24vw;
      transform: translateY(0%);
      padding: 4vw;
    }
    nav ul li {
      display: none;
    }
    nav {
      display: flex;
      flex-direction: row;
      /* gap: 50vw; */
      justify-content: end;
      padding-right: 6vw;
    }
    .navbar {
      height: 10vw;
      margin-top: -10vw;
      margin-left: -5vw;
    }
    .show-nav {
      z-index: -1;
      position: absolute;
      background-color: #1a1a1a;
      height: 220vw;
      width: 50vw;
      top: -2vw;
      right: 0;
      transition: all 0.25s ease-in;
      translate: 10px 0px;
    }
    .show-nav ul li {
      top: 14vw;
      display: block;
    }
    ul li {
      font-weight: bold;
      font-size: 4vw;
      padding: 8vw;
      text-align: left;
    }
    nav ul li:nth-child(3)::after {
      width: 50%;
      background-color: #f7c873;
      position: absolute;
      left: 6vw;
      transition: 100ms ease-in;
    }
    nav ul li a {
      text-decoration: none;
      color: white;
    }
  
    #hamburger.white {
      color: white;
    }
    
    #hamburger {
      font-size: 6vw;
      display: flex;
      color: #1a1a1a;
      transition: color 0.3s ease;
    }
    #ham {
      display: block;
    }
    nav ul li a:hover {
      color: #f7d390;
    }
  
    .body-container{
      margin-top: 10vw;
      display: flex;
      flex-direction: column;
    }
  
    .header p{
      font-size: 3vw;
      font-weight: 700;
      width: 30vw;
      margin-top: -5vw;
      margin-left: -7vw;
      display: flex;
      flex-direction: row;
  }
  .left
{
  width: 100vw;
  height: 10vw;
  margin-top: 0vw;
}
.opts{
    margin-top: 0vw;
    display: flex;
    flex-direction: row;
    gap: 2.7vw;
    margin-left: -7vw;
    height: 6vw;
    width: 90vw;
  }

  button{
    padding: 1vw 0.5vw;
    width: 19vw;
    height: 5vw;
    border-radius: 0.5vw;
    border-color: rgba(224, 224, 224, 0.288);
    box-shadow: 0.1vw 0.1vw rgba(224, 224, 224, 0.288);
    border-width: 0.1vw;
    cursor: pointer;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    justify-content: center;
}
  #keluar-akun{
    margin-top: 0vw;
    background: #FFC1C1;
}

.line-grey{
  background: none;
  width: 0.2vw;
  height: 40vw;
  margin-top: 10vw;

}

#keluar-akun a{
    margin-left: 1vw;
}

#keluar-akun img{
    width: 2vw;
    height: max-content;
}

.right{
    margin-top: -50vw;
}

.right-container .header p{
    font-size: 3.5vw;
    margin-left: 0vw;
}

#arrow-left{
    font-size: 2.5vw;
}

.arrow-left{
    margin-left: -7vw;
    margin-top: -5vw;
}

.section1 h1{
    font-size: 3.3vw;
    margin-top: 1vw;
}

.lokasi h1{
    margin-left: 7vw;
}

.section2 h3{
    font-size: 2.5vw;
}

.section2 .lokasi-portfolio{
    margin-left: 16.8vw;
}

.durasi h1{
    font-size: 3.5vw;
    margin-top: 2vw;
}

.section3 h4{
    font-size: 2vw;
}

.durasi-akhir{
    margin-left: 32vw;
}

.section4 h3{
    font-size: 2.5vw;
}

.durasi-akhir-portfolio{
    margin-left: 20vw;
}

.deskripsi h1{
    font-size: 3.5vw;
    margin-top: 2vw;
}

.deskripsi-portfolio p{
    width: 70vw;
}

.deskripsi-portfolio p{
    font-size: 2vw;
}

.bottom-section{
    margin-top: 2vw;
}

.portfolio-img img{
    width: 80%;
}

.catatan-lainnya-core{
    margin-left: -3vw;
}

.catatan-lainnya{
    margin-top: 1vw;
}

.catatan-lainnya h1{
    font-size: 3.5vw;
}

.catatan-lainnya-portfolio p{
    font-size: 2vw;
}


}