*
{
    margin: 0;
    padding: 0px;
    font-family: 'DM Sans', sans-serif;
}
body
{
    width: 100%;
}
.page-container
{
    width:100%;
    min-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}
#hamburger {
    display: none;
  }

.navbar {
background-color: white;
width: 90%;
display: flex;
flex-direction: row;
gap: 2vw;
align-items: center;
padding-left: 3vw;
z-index: 1;
box-shadow: 0px 3px rgba(204, 204, 204, 0.401);
position: fixed;
}

.logo {
width: 150px;
}

nav {
flex: 1;
text-align: right;
z-index: 1;
}
nav ul {
margin-bottom: 2%;
/* background: aqua; */
}
nav ul li {
margin-top: 2%;
list-style: none;
display: inline-block;
position: relative;
margin-right: 30px;
cursor: pointer;
/* background: aqua; */
}
nav ul li a {
text-decoration: none;
color: #1a1a1a;
}
nav ul li:nth-child(1) {
color: #1a1a1a;
}
nav ul li:nth-child(3)::after {
content: "";
height: 2px;
width: 100%;
border-radius: 100px;
background-color: #f7c873;
position: absolute;
left: 0;
bottom: -3px;
transition: 100ms ease-in;
}
nav ul li a::after {
content: "";
height: 2px;
width: 0;
border-radius: 100px;
background-color: #f7c873;
position: absolute;
left: 0;
bottom: -3px;
transition: 0.2s ease-in;
}
nav ul li a:hover::after {
color: #1a1a1a;
width: 100%;
}
nav ul li a:hover {
color: #1a1a1a;
}
.navbar input
{
margin-right:4vw;
}
.profil {
background-color: #1a1a1a;
color: #ffca6b;
width: 8%;
height: 30px;
border-radius: 5px;
border: none;
transition: 400ms;
cursor: pointer;
}
.profil:hover {
background-color: #ffca6b;
font-weight: bold;
color: #1a1a1a;
}

#home-button:hover::after {
width: 100%;
}
#home-button::after {
content: " ";
width: 0%;
height: 4px;
background: #ffca6b;
display: block;
transition: 0.5s;
}
#home-icon {
padding-right: 0.3vw;
}
#favorite-icon {
padding-right: 0.3vw;
}
#favorit-button:hover::after {
width: 100%;
}
#favorit-button::after {
content: " ";
width: 0%;
height: 4px;
background: #ffca6b;
display: block;
transition: 0.5s;
}
#upload-icon {
padding-right: 0.3vw;
}
#unggah-button:hover::after {
width: 100%;
}
#unggah-button::after {
content: " ";
width: 0%;
height: 4px;
background: #ffca6b;
display: block;
transition: 0.5s;
}
#bell-icon {
padding-right: 0.3vw;
}
#notifikasi-button:hover::after {
width: 100%;
}
#notifikasi-button::after {
content: " ";
width: 0%;
height: 4px;
background: #ffca6b;
display: block;
transition: 0.5s;
}
.navbar-options-right {
padding-right: 4vw;
}
.profile-btn {
width: 8vw;
height: 2.4vw;
font-size: 1.2vw;
margin: -0.4vw 1vw;
/* margin: auto; */
/* transform: translateX(60%); */
background: #1a1a1a;
color: #ffca6b;
border-radius: 5px;
border: #1a1a1a00;
transition: 0.2s ease-in;
cursor: pointer;
}
.profile-btn:hover {
background: #f7d390;
color: #1a1a1a;
}
.profile-btn:active {
background-color: #ffb32b;
box-shadow: 0 6px #ebebeb;
transform: translateY(2px);
}
.navbar
{
    margin-top: 1.5vw;
    margin-left: 4vw;
    height: 4.25vw;
    /* background: aqua; */
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0px 3px rgba(204, 204, 204, 0.401);
}
#pengaturan-profilmu
{
    transform: translate(5%, 200%);
}
.buttons-left
{
    transform: translate(5%, 60%);
    display: flex;
    flex-direction: column;
}
#profilmu
{
    display: flex;
    width: 20vw;
    margin-bottom: 2vw;
    padding-left: 2vw;
    height: 2.5vw;
    padding-top: 0.3vw;
    border-radius: 0.5vw;
    border-color: rgba(128, 128, 128, 0.288);
    box-shadow: 2px 3px rgba(128, 128, 128, 0.288);
    border-width: 0.2px;
    cursor: pointer;
    background: white;
}
#profilmu:hover
{
    background: #f7d390;
}
#lengkapi-profilmu
{
    display: flex;
    width: 20vw;
    margin-bottom: 2vw;
    padding-left: 2vw;
    height: 2.5vw;
    padding-top: 0.3vw;
    border-radius: 0.5vw;
    border-width: 0.2px;
    cursor: pointer;
    border-color: rgba(128, 128, 128, 0.288);
    box-shadow: 2px 3px rgba(128, 128, 128, 0.288);
    border-width: 0.2px;
    background: #f7d390;
    transition: 0.2s ease-in;
}
#lengkapi-profilmu:hover
{
    background: #f7d390;
}
#portofoliomu
{
    display: flex;
    width: 20vw;
    padding-left: 2vw;
    height: 2.5vw;
    padding-top: 0.3vw;
    border-radius: 0.5vw;
    border-width: 0.2px;
    cursor: pointer;
    border-color: rgba(128, 128, 128, 0.288);
    box-shadow: 2px 3px rgba(128, 128, 128, 0.288);
    border-width: 0.2px;
    background: white;
    transition: 0.2s ease-in;
}
#portofoliomu:hover
{
    background: #f7d390;
}
#keluar-akun
{
    display: flex;
    width: 20vw;
    transform: translateY(700%);
    padding-left: 2vw;
    height: 2.5vw;
    padding-top: 0.3vw;
    border-radius: 0.5vw;
    border-width: 0.2px;
    cursor: pointer;
    border-color: rgba(128, 128, 128, 0.288);
    box-shadow: 2px 3px rgba(128, 128, 128, 0.288);
    border-width: 0.2px;
    background: #FFC1C1;
}
#user-icon
{
    font-size: 1.3vw;
    margin-right: 2vw;
    margin-left: -0.5vw;
    margin-top: 0.3vw;
}
#clipboard-icon
{
    font-size: 1.3vw;
    margin-right: 2vw;
    margin-left: -0.4vw;
    margin-top: 0.3vw;
}
#file-icon
{
    font-size: 1.3vw;
    margin-right: 2vw;
    margin-left: -0.4vw;
    margin-top: 0.3vw;
}
#arrow-right1
{
    transform: translate(8vw, 0.5vw);
}
#arrow-right2
{
    transform: translate(1.2vw, 0.5vw)
}
#arrow-right3
{
    transform: translate(4.9vw, 0.5vw)
}
#logout
{
    transform: translate(7.8vw, 0.5vw)
}
.random-line
{
    padding-left: 8vw;
    margin-top: -1.5vw;
}
.line
{
    transform: rotate(90deg) translateY(-100%);
    padding-left: 2vw;
    margin-top: 10vw;
    padding-bottom: 0.2vw;
    color:#ccccccc1;
}
.title h1
{
    width: 23vw;
    transform: translate(150%, -740%);
}
.bidang-diminati h1
{
    font-size: 26px;
    width: 22vw;
    transform: translate(165%, -730%);
}
.bidang-diminati input
{
    transform: translate(125%, -590%);
    padding-left: 1vw;
    padding-right: 14vw;
    height: 2.5vw;
    border-radius: 9px;
    border-color: #D9D9D9;
    font-size: 17px;
}
.sosial-media h1
{
    font-size: 26px;
    width: 12vw;
    transform: translate(300%, -530%);
}
#instagram-username
{
    width: 20vw;
    padding-left: 1vw;
    padding-right: 14vw;
    height: 2.5vw;
    border-radius: 9px;
    border-color: #D9D9D9;
    font-size: 17px;
    transform: translate(110%, -410%);
}
#twitter-username
{
    width: 20vw;
    padding-left: 1vw;
    padding-right: 14vw;
    height: 2.5vw;
    border-radius: 9px;
    border-color: #D9D9D9;
    font-size: 17px;
    transform: translate(9%, -270%);
}
#facebook-username
{
    width: 20vw;
    padding-left: 1vw;
    padding-right: 14vw;
    height: 2.5vw;
    border-radius: 9px;
    border-color: #D9D9D9;
    font-size: 17px;
    transform: translate(110%, -230%);
}
#website-username
{
    width: 20vw;
    padding-left: 1vw;
    padding-right: 14vw;
    height: 2.5vw;
    border-radius: 9px;
    border-color: #D9D9D9;
    font-size: 17px;
    transform: translate(9%, -93%);
}
#instagram-icon
{
    font-size: 30px;
    transform: translate(1950%, -310%);
}
#twitter-icon
{
    font-size: 30px;
    transform: translate(1600%, -120%);
}
#facebook-icon
{
    font-size: 30px;
    transform: translate(1484%, 62%);
}
#website-icon
{
    font-size: 30px;
    transform: translate(1371%, 242%);
}