*
{
    margin: 0;
    padding: 0px;
    font-family: 'DM Sans', sans-serif;
}
body
{
    width: 100%;
}
.page-container
{
    width:100%;
    min-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}
#hamburger {
    display: none;
  }

.navbar {
background-color: white;
width: 90%;
display: flex;
flex-direction: row;
gap: 2vw;
align-items: center;
padding-left: 3vw;
z-index: 1;
box-shadow: 0px 3px rgba(204, 204, 204, 0.401);
position: fixed;
}

.logo {
width: 150px;
}

nav {
flex: 1;
text-align: right;
z-index: 1;
}
nav ul {
margin-bottom: 2%;
/* background: aqua; */
}
nav ul li {
margin-top: 2%;
list-style: none;
display: inline-block;
position: relative;
margin-right: 30px;
cursor: pointer;
/* background: aqua; */
}
nav ul li a {
text-decoration: none;
color: #1a1a1a;
}
nav ul li:nth-child(1) {
color: #1a1a1a;
}
nav ul li:nth-child(3)::after {
content: "";
height: 2px;
width: 100%;
border-radius: 100px;
background-color: #f7c873;
position: absolute;
left: 0;
bottom: -3px;
transition: 100ms ease-in;
}
nav ul li a::after {
content: "";
height: 2px;
width: 0;
border-radius: 100px;
background-color: #f7c873;
position: absolute;
left: 0;
bottom: -3px;
transition: 0.2s ease-in;
}
nav ul li a:hover::after {
color: #1a1a1a;
width: 100%;
}
nav ul li a:hover {
color: #1a1a1a;
}
.navbar input
{
margin-right:4vw;
}
.profil {
background-color: #1a1a1a;
color: #ffca6b;
width: 8%;
height: 30px;
border-radius: 5px;
border: none;
transition: 400ms;
cursor: pointer;
}
.profil:hover {
background-color: #ffca6b;
font-weight: bold;
color: #1a1a1a;
}

#home-button:hover::after {
width: 100%;
}
#home-button::after {
content: " ";
width: 0%;
height: 4px;
background: #ffca6b;
display: block;
transition: 0.5s;
}
#home-icon {
padding-right: 0.3vw;
}
#favorite-icon {
padding-right: 0.3vw;
}
#favorit-button:hover::after {
width: 100%;
}
#favorit-button::after {
content: " ";
width: 0%;
height: 4px;
background: #ffca6b;
display: block;
transition: 0.5s;
}
#upload-icon {
padding-right: 0.3vw;
}
#unggah-button:hover::after {
width: 100%;
}
#unggah-button::after {
content: " ";
width: 0%;
height: 4px;
background: #ffca6b;
display: block;
transition: 0.5s;
}
#bell-icon {
padding-right: 0.3vw;
}
#notifikasi-button:hover::after {
width: 100%;
}
#notifikasi-button::after {
content: " ";
width: 0%;
height: 4px;
background: #ffca6b;
display: block;
transition: 0.5s;
}
.navbar-options-right {
padding-right: 4vw;
}
.profile-btn {
width: 8vw;
height: 2.4vw;
font-size: 1.2vw;
margin: -0.4vw 1vw;
/* margin: auto; */
/* transform: translateX(60%); */
background: #1a1a1a;
color: #ffca6b;
border-radius: 5px;
border: #1a1a1a00;
transition: 0.2s ease-in;
cursor: pointer;
}
.profile-btn:hover {
background: #f7d390;
color: #1a1a1a;
}
.profile-btn:active {
background-color: #ffb32b;
box-shadow: 0 6px #ebebeb;
transform: translateY(2px);
}
.navbar
{
    margin-top: 1.5vw;
    margin-left: 4vw;
    height: 4.25vw;
    /* background: aqua; */
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0px 3px rgba(204, 204, 204, 0.401);
}
.navbar-left
{
    display: flex;
    flex-direction: row;
}
#navbar-logo
{
    width: 12vw;
    transform: translate(20%, 40%);
}
.search-bar-container
{
    width: 17vw;
    height: 2vw;
}
.search-box
{
    /* position: relative; */
    background-color: white;
    width: 15vw;
    padding-left: 4vw;
    padding-bottom: 0.2vw;
    height: 2vw;
    z-index: -1;
    transform: translate(35%, 20%);
    border: none;
    border-radius: 0.4vw;
}
#search-icon
{
    position: relative;
    font-size: 1.2vw;
    transform: translateX(600%);
    transform: translateY(190%);
    z-index: 1;
    margin-left: 8vw;
}
#home-icon
{
    color: #1a1a1a;
}
.navbar-right a 
{
    text-decoration: none;
    color: #1a1a1a;
}
.navbar-right
{
    display: flex;
    flex-direction: row;
    margin-left: 43vw;
    margin-top: -1.4vw;
}
#home-button:hover::after
{
    width: 100%;
}
#home-button::after
{
    content: ' ';
    width: 0%;
    height: 4px;
    background: #FFCA6B;
    display: block;
    transition: 0.5s;
}
#home-icon
{
    padding-right: 0.3vw;
}
#favorite-icon
{
    padding-right: 0.3vw;
}
#favorit-button:hover::after
{
    width: 100%;
}
#favorit-button::after
{
    content: ' ';
    width: 0%;
    height: 4px;
    background: #FFCA6B;
    display: block;
    transition: 0.5s;
}
#upload-icon
{
    padding-right: 0.3vw;
}
#unggah-button:hover::after
{
    width: 100%;
}
#unggah-button::after
{
    content: ' ';
    width: 0%;
    height: 4px;
    background: #FFCA6B;
    display: block;
    transition: 0.5s;
}
#bell-icon
{
    padding-right: 0.3vw;
}
#notifikasi-button:hover::after
{
    width: 100%;
}
#notifikasi-button::after
{
    content: ' ';
    width: 0%;
    height: 4px;
    background: #FFCA6B;
    display: block;
    transition: 0.5s;
}
.navbar-options-right
{
    padding-right: 4vw;
}
.profile-btn
{
    width: 6vw;
    height: 2.3vw;
    font-size: 1vw;
    margin-top: -0.4vw;
    transform: translateX(60%);
    background: #1a1a1a;
    color: #FFCA6B;
    border-radius: 5px;
    border: #1a1a1a00;
    transition: 0.2s ease-in;
    cursor: pointer;
}
.profile-btn:hover
{
    background:#f7d390;
    color: #1a1a1a;
}
#pengaturan-profilmu
{
    transform: translate(5%, 400%);
}
.buttons-left
{
    transform: translate(5%, 90%);
    display: flex;
    flex-direction: column;
}
#profilmu
{
    display: flex;
    width: 20vw;
    margin-bottom: 2vw;
    padding-left: 2vw;
    height: 2.5vw;
    padding-top: 0.3vw;
    border-radius: 0.5vw;
    border-color: rgba(128, 128, 128, 0.288);
    box-shadow: 2px 3px rgba(128, 128, 128, 0.288);
    border-width: 0.2px;
    cursor: pointer;
    background: white;
    transition: 0.2s ease-in;
}
#profilmu:hover
{
    background: #f7d390;
}
#lengkapi-profilmu
{
    display: flex;
    width: 20vw;
    margin-bottom: 2vw;
    padding-left: 2vw;
    height: 2.5vw;
    padding-top: 0.3vw;
    border-radius: 0.5vw;
    border-width: 0.2px;
    cursor: pointer;
    border-color: rgba(128, 128, 128, 0.288);
    box-shadow: 2px 3px rgba(128, 128, 128, 0.288);
    border-width: 0.2px;
    background: white;
    transition: 0.2s ease-in;
}
#lengkapi-profilmu:hover
{
    background: #f7d390;
}
#lengkapi-profilmu a
{
    text-decoration: none;
    color: #1a1a1a;
}
#portofoliomu a
{
    text-decoration: none;
    color: #1a1a1a;
}
#profilmu a
{
    text-decoration: none;
    color: #1a1a1a;
}
#portofoliomu
{
    display: flex;
    width: 20vw;
    padding-left: 2vw;
    height: 2.5vw;
    padding-top: 0.3vw;
    border-radius: 0.5vw;
    border-width: 0.2px;
    cursor: pointer;
    border-color: rgba(128, 128, 128, 0.288);
    box-shadow: 2px 3px rgba(128, 128, 128, 0.288);
    border-width: 0.2px;
    background: #f7d390;
    transition: 0.2s ease-in;
}
#keluar-akun
{
    display: flex;
    width: 20vw;
    transform: translateY(700%);
    padding-left: 2vw;
    height: 2.5vw;
    padding-top: 0.3vw;
    border-radius: 0.5vw;
    border-width: 0.2px;
    cursor: pointer;
    border-color: rgba(128, 128, 128, 0.288);
    box-shadow: 2px 3px rgba(128, 128, 128, 0.288);
    border-width: 0.2px;
    background: #FFC1C1;
}
#user-icon
{
    font-size: 1.3vw;
    margin-right: 2vw;
    margin-left: -0.5vw;
    margin-top: 0.3vw;
}
#clipboard-icon
{
    font-size: 1.3vw;
    margin-right: 2vw;
    margin-left: -0.4vw;
    margin-top: 0.3vw;
}
#file-icon
{
    font-size: 1.3vw;
    margin-right: 2vw;
    margin-left: -0.4vw;
    margin-top: 0.3vw;
}
#arrow-right1
{
    transform: translate(8vw, 0.5vw);
}
#arrow-right2
{
    transform: translate(1.2vw, 0.5vw)
}
#arrow-right3
{
    transform: translate(4.9vw, 0.5vw)
}
#logout
{
    transform: translate(7.8vw, 0.5vw)
}
.random-line
{
    padding-left: 8vw;
    margin-top: -1.5vw;
    transform: translateY(2100%);
}
.line
{
    transform: rotate(90deg) translateY(600%);
    padding-left: 2vw;
    margin-top: 10vw;
    padding-bottom: 0.2vw;
    color:#ccccccc1;
}
hr
{
    width: 46vw;
}
.page-right
{
    transform: translateY(10%);
}
.title h1
{
    width: 13vw;
    transform: translate(270%, -740%);
}
.portfolio-1
{
    width: 42vw;
    height: 12vw;
    transform: translate(83%, -165%);
    border-style: solid;
    border-color: #FFCA6B;
    border-radius: 10px;
}
.portfolio-1 img
{
    width: 9.5vw;
}
#img-porto-1
{
    position: absolute;
    padding-top: 1vw;
    padding-left: 1vw;
}
.portfolio-1 h2
{
    width: 14vw;
    font-weight: 500;
    transform: translate(90%, 30%);
}
.portfolio-1 p
{
    text-align: justify;
    width: 25vw;
    transform: translate(50%, 20%);
}
.portfolio-1 i
{
    font-size: 22px;
    transform: translate(4100%, 80%);
    cursor: pointer;
}
.portfolio-2
{
    width: 42vw;
    height: 12vw;
    transform: translate(83%, -155%);
    border-style: solid;
    border-color: #FFCA6B;
    border-radius: 10px;
}
.portfolio-2 img
{
    width: 9.5vw;
}
#img-porto-2
{
    position: absolute;
    padding-top: 1vw;
    padding-left: 1vw;
}
.portfolio-2 h2
{
    width: 14vw;
    font-weight: 500;
    transform: translate(90%, 30%);
}
.portfolio-2 p
{
    text-align: justify;
    width: 25vw;
    transform: translate(50%, 20%);
}
.portfolio-2 i
{
    font-size: 22px;
    transform: translate(4100%, 80%);
    cursor: pointer;
}
.portfolio-3
{
    width: 42vw;
    height: 12vw;
    transform: translate(83%, -145%);
    border-style: solid;
    border-color: #FFCA6B;
    border-radius: 10px;
}
.portfolio-3 img
{
    width: 9.5vw;
}
#img-porto-3
{
    position: absolute;
    padding-top: 1vw;
    padding-left: 1vw;
}
.portfolio-3 h2
{
    width: 14vw;
    font-weight: 500;
    transform: translate(90%, 30%);
}
.portfolio-3 p
{
    text-align: justify;
    width: 25vw;
    transform: translate(50%, 20%);
}
.portfolio-3 i
{
    font-size: 22px;
    transform: translate(4100%, 80%);
    cursor: pointer;
}

