* {
  margin: 0;
  padding: 0px;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}
body {
  width: 100%;
}
.page-container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

#hamburger,
#ham {
  display: none;
}

.navbar {
  background-color: white;
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: center;
  padding-left: 3vw;
  z-index: 1;
  box-shadow: 0px 3px rgba(204, 204, 204, 0.401);
  position: fixed;
}

.logo {
  width: 150px;
}

nav {
  flex: 1;
  text-align: right;
  z-index: 1;
  /* background: aqua; */
  padding-right: 2vw;
}
nav ul {
  margin-bottom: 2%;
}
nav ul li {
  margin-top: 2%;
  list-style: none;
  display: inline-block;
  position: relative;
  margin-right: 30px;
  cursor: pointer;
}
nav ul li a {
  text-decoration: none;
  color: #1a1a1a;
}
nav ul li:nth-child(1) {
  color: #1a1a1a;
}
/* nav ul li:nth-child(3)::after {
content: "";
height: 2px;
width: 100%;
border-radius: 100px;
background-color: #f7c873;
position: absolute;
left: 0;
bottom: -3px;
transition: 100ms ease-in;
} */
nav ul li a::after {
  content: "";
  height: 2px;
  width: 0;
  border-radius: 100px;
  background-color: #f7c873;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.2s ease-in;
}
nav ul li a:hover::after {
  color: #1a1a1a;
  width: 100%;
}
nav ul li a:hover {
  color: #1a1a1a;
}
.navbar input {
  margin-right: 1vw;
}
.profil {
  background-color: #1a1a1a;
  color: #ffca6b;
  width: 9%;
  height: 2.4vw;
  border-radius: 5px;
  border: none;
  transition: 400ms;
  cursor: pointer;
  justify-content: center;
  font-size: 1.2vw;
}
.profil:hover {
  background-color: #ffca6b;
  font-weight: bold;
  color: #1a1a1a;
}

#home-button:hover::after {
  width: 100%;
}
#home-button::after {
  content: " ";
  width: 0%;
  height: 4px;
  background: #ffca6b;
  display: block;
  transition: 0.5s;
}
#home-icon {
  padding-right: 0.3vw;
}
#favorite-icon {
  padding-right: 0.3vw;
}
#favorit-button:hover::after {
  width: 100%;
}
#favorit-button::after {
  content: " ";
  width: 0%;
  height: 4px;
  background: #ffca6b;
  display: block;
  transition: 0.5s;
}
#upload-icon {
  padding-right: 0.3vw;
}
#unggah-button:hover::after {
  width: 100%;
}
#unggah-button::after {
  content: " ";
  width: 0%;
  height: 4px;
  background: #ffca6b;
  display: block;
  transition: 0.5s;
}
#bell-icon {
  padding-right: 0.3vw;
}
#notifikasi-button:hover::after {
  width: 100%;
}
#notifikasi-button::after {
  content: " ";
  width: 0%;
  height: 4px;
  background: #ffca6b;
  display: block;
  transition: 0.5s;
}
.navbar-options-right {
  padding-right: 4vw;
}
.profile-btn {
  width: 8vw;
  height: 2.4vw;
  font-size: 1.2vw;
  margin: -0.4vw 1vw;
  background: #1a1a1a;
  color: #ffca6b;
  border-radius: 5px;
  border: #1a1a1a00;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.profile-btn:hover {
  background: #f7d390;
  color: #1a1a1a;
}
.profile-btn:active {
  background-color: #ffb32b;
  box-shadow: 0 6px #ebebeb;
  transform: translateY(2px);
}
.navbar {
  margin-top: 1.5vw;
  margin-left: 4vw;
  height: 4.25vw;
  border-color: rgb(204, 204, 204);
  border-style: solid;
  border-radius: 10px;
  box-shadow: 0px 3px rgba(204, 204, 204, 0.401);
}
/*  */

/* Coding nya amanda */

.body-container {
  margin-left: 5vw;
  display: flex;
  flex-direction: row;
  gap: 4vw;
}

.left,
.right {
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
}

.header p {
  font-size: 1.75vw;
  font-weight: 700;
}

.opts {
  margin-top: 6vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.opts button {
  font-size: 1.2vw;
  font-weight: 500;
}
.opts a {
  text-decoration: none;
}

button {
  padding: 1vw 0.5vw;
  width: 16vw;
  border-radius: 0.5vw;
  border-color: rgba(224, 224, 224, 0.288);
  box-shadow: 0.1vw 0.1vw rgba(224, 224, 224, 0.288);
  border-width: 0.1vw;
  cursor: pointer;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

button a {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 1.2vw;
  font-weight: 500;
}

button img {
  width: 2vw;
  height: max-content;
  margin-left: 1vw;
}

#portofoliomu img {
  width: 1.5vw;
  height: max-content;
  margin-left: 1.2vw;
  margin-right: 0.2vw;
}
#profilmu {
  background: #ffe5b5;
  transition: 0.2s ease-in;
}

#profilmu:hover {
  background: #f7d390;
}

#keluar-akun{
    margin-top: 12vw;
    background: #FFC1C1;
    justify-content: center;
}

#keluar-akun a {
  margin-left: 1vw;
}

#keluar-akun img {
  width: 2vw;
  height: max-content;
}

.line-grey {
  background-color: #d9d9d9;
  width: 0.2vw;
  height: 40vw;
  margin-top: 10vw;
}

.profile-pic-div {
  height: 10vw;
  width: 10vw;
  position: relative;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid grey;
  left: 1vw;
  top: 11vw;
}
#photo {
  height: 100%;
  width: 100%;
}
#file {
  display: none;
}
#uploadBtn {
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: WHITE;
  line-height: 30px;
  font-family: sans-serif;
  font-size: 13px;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
  display: none;
}
.main-profile-right {
  width: 30vw;
  margin-left: 14vw;
  margin-top: 2vw;
}
.phone-joined-on h3 {
  color: rgba(152, 149, 149, 0.757);
  font-weight: lighter;
}
.bottom-section{
  margin-top: -5vw;
}
.lengkapi-section {
  height: 10vw;
  width: 25vw;
  position: relative;
  left: 1vw;
  top: 12vw;
}
.bidang-diminati {
  margin-top: 1vw;
}
.bidang-diminati h2 {
  margin-top: 1vw;
}
.bidang-diminati h4 {
  margin-top: 1vw;
}
mark {
  background: #f7d390;
}
.sosial-media {
  width: 20vw;
  position: relative;
  left: 1vw;
  top: 12vw;
}
.instagram {
  display: flex;
  margin-top: 2vw;
}
.instagram i {
  font-size: 2vw;
  padding-right: 1vw;
  margin-right: 1.5vw;
}
.instagram h4 {
  width: 10vw;
  font-weight: lighter;
}
.website {
  display: flex;
  margin-top: 1vw;
}
.website h4 {
  width: 14vw;
  font-weight: lighter;
  margin-top: 0.2vw;
}
#website-img {
  width: 10%;
  height: 10%;
  margin-left: -0.1vw;
  margin-right: 2.3vw;
}
.linked-in {
  display: flex;
  margin-top: 1vw;
}
.linked-in i {
  font-size: 2vw;
  padding-right: 1vw;
  margin-right: 1.25vw;
}
.linked-in h4 {
  width: 10vw;
  font-weight: lighter;
  margin-top: 0.2vw;
}
#linked-in-img {
  width: 11%;
  margin-left: -0.2vw;
  margin-right: 2.2vw;
}

/*responsive*/

@media only screen and (max-width: 768px) {
  .title h1 {
    font-size: 20px;
  }
  .title h3 {
    font-size: 15px;
    text-align: justify;
  }
  .page-container {
    padding: 15% 10%;
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 24vw;
    transform: translateY(0%);
    padding: 4vw;
  }
  nav ul li {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: row;
    /* gap: 50vw; */
    justify-content: end;
    padding-right: 6vw;
  }
  .navbar {
    height: 10vw;
    margin-top: -10vw;
    margin-left: -5vw;
  }
  .show-nav {
    z-index: -1;
    position: absolute;
    background-color: #1a1a1a;
    height: 220vw;
    width: 50vw;
    top: -2vw;
    right: 0;
    transition: all 0.25s ease-in;
    translate: 10px 0px;
  }
  .show-nav ul li {
    top: 14vw;
    display: block;
  }
  ul li {
    font-weight: bold;
    font-size: 4vw;
    padding: 8vw;
    text-align: left;
  }
  nav ul li:nth-child(3)::after {
    width: 50%;
    background-color: #f7c873;
    position: absolute;
    left: 6vw;
    transition: 100ms ease-in;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
  }

  #hamburger.white {
    color: white;
  }

  #hamburger {
    font-size: 6vw;
    display: flex;
    color: #1a1a1a;
    transition: color 0.3s ease;
  }
  #ham {
    display: block;
  }
  nav ul li a:hover {
    color: #f7d390;
  }

  .body-container {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
  }

  .header p {
    font-size: 3vw;
    font-weight: 700;
    width: 30vw;
    margin-top: -5vw;
    margin-left: -7vw;
    display: flex;
    flex-direction: row;
  }

.profil{
  display: none;
}

.profile-pic-div {
  height: 20vw;
  width: 20vw;
  position: relative;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid grey;
  left: 1vw;
  top: 11vw;
}


.main-profile-right {
  width: 50vw;
  margin-left: 25vw;
  margin-top: -8vw;
}
  .left {
    width: 100vw;
    height: 10vw;
    margin-top: 0vw;
  }
  .opts {
    margin-top: 0vw;
    display: flex;
    flex-direction: row;
    gap: 2.7vw;
    margin-left: -7vw;
    height: 6vw;
    width: 90vw;
    cursor: pointer;
  }
  .opts button {
    font-size: 1.5vw;
    font-weight: 500;
  }

  button {
    padding: 1vw 0.5vw;
    width: 19vw;
    height: 5vw;
    border-radius: 0.5vw;
    border-color: rgba(224, 224, 224, 0.288);
    box-shadow: 0.1vw 0.1vw rgba(224, 224, 224, 0.288);
    border-width: 0.1vw;
    cursor: pointer;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    justify-content: center;
  }
  #keluar-akun {
    margin-top: 0vw;
    background: #ffc1c1;
  }

  .line-grey {
    background: none;
    width: 0.2vw;
    height: 40vw;
    margin-top: 10vw;
  }

  #keluar-akun a {
    margin-left: 1vw;
  }

  #keluar-akun img {
    width: 2vw;
    height: max-content;
  }

  .page-right {
    margin-top: -68vw;
    margin-left: -8vw;
  }

.lengkapi-section {
  height: 6vw;
  width: 50vw;
  position: relative;
  left: 1vw;
  top: 12vw;
}

.lengkapi-section h1{
  font-size:4vw;
}

.bidang-diminati h2 {
  margin-top: -1vw;
  font-size: 3.5vw;
}
.bidang-diminati h4 {
  width: 25vw;
  margin-top: 0.3vw;
  font-size: 3vw;
  height: 5vw;
}

  .sosial-media {
    width: 30vw;
    position: relative;
    left: 1vw;
    margin-top: 13vw;
  }
.sosial-media h1
{
  font-size: 3.5vw;
}

  .instagram {
    display: flex;
    margin-top: 3vw;
  }
  .instagram i {
    font-size: 5vw;
    padding-right: 1vw;
    margin-right: 1.5vw;
    margin-top: 0.3vw;
  }
  .instagram h4 {
    width: 23vw;
    font-size: 3vw;
    font-weight: lighter;
    margin-top: 1vw;
  }
  .linked-in
  {
      display: flex;
      margin-top: 1vw;
  }
  #linked-in-img
  {
    width: 5vw;
    margin-left: -0.35vw;
  }
  .linked-in h4 {
    width: 8vw;
    font-weight: lighter;
    font-size: 3vw;
  }

  .website
  {
    margin-top: 1vw;
    width: 50vw;
    margin-left: -1.2vw;
  }
  .website h4 {
    width: 80vw;
    font-weight: lighter;
  }
  #website-img
  {
    margin-left: 1vw;
  }

}
