*
{
    margin: 0;
    padding: 0px;
    font-family: 'DM Sans', sans-serif;
}
body
{
    width: 100%;
}
.page-container
{
    width:100%;
    min-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}
.navbar
{
    height: 6vw;
    background: white;
    border-color: rgba(204, 204, 204, 0.757);
    box-shadow: 0px 3px rgba(204, 204, 204, 0.401);
}
.navbar-left
{
    display: flex;
    flex-direction: row;
}
#navbar-logo
{
    width: 12vw;
    transform: translate(20%, 40%);
}
.search-bar-container
{
    width: 17vw;
    height: 2vw;
}
.search-box
{
    /* position: relative; */
    background-color: white;
    width: 15vw;
    padding-left: 4vw;
    padding-bottom: 0.2vw;
    height: 2vw;
    z-index: -1;
    transform: translate(35%, 20%);
    border: none;
    border-radius: 0.4vw;
}
#search-icon
{
    position: relative;
    font-size: 1.2vw;
    transform: translateX(600%);
    transform: translateY(190%);
    z-index: 1;
    margin-left: 8vw;
}
#home-icon
{
    color: #1a1a1a;
}
.navbar-right a 
{
    text-decoration: none;
    color: #1a1a1a;
}
.navbar-right
{
    display: flex;
    flex-direction: row;
    margin-left: 43vw;
    margin-top: -1.4vw;
}
#home-button:hover::after
{
    width: 100%;
}
#home-button::after
{
    content: ' ';
    width: 0%;
    height: 4px;
    background: #FFCA6B;
    display: block;
    transition: 0.5s;
}
#home-icon
{
    padding-right: 0.3vw;
}
#favorite-icon
{
    padding-right: 0.3vw;
}
#favorit-button:hover::after
{
    width: 100%;
}
#favorit-button::after
{
    content: ' ';
    width: 0%;
    height: 4px;
    background: #FFCA6B;
    display: block;
    transition: 0.5s;
}
#upload-icon
{
    padding-right: 0.3vw;
}
#unggah-button:hover::after
{
    width: 100%;
}
#unggah-button::after
{
    content: ' ';
    width: 0%;
    height: 4px;
    background: #FFCA6B;
    display: block;
    transition: 0.5s;
}
#bell-icon
{
    padding-right: 0.3vw;
}
#notifikasi-button:hover::after
{
    width: 100%;
}
#notifikasi-button::after
{
    content: ' ';
    width: 0%;
    height: 4px;
    background: #FFCA6B;
    display: block;
    transition: 0.5s;
}
.navbar-options-right
{
    padding-right: 4vw;
}
.profile-btn
{
    width: 6vw;
    height: 2.3vw;
    font-size: 1vw;
    margin-top: -0.4vw;
    transform: translateX(60%);
    background: #1a1a1a;
    color: #FFCA6B;
    border-radius: 5px;
    border: #1a1a1a00;
    transition: 0.2s ease-in;
    cursor: pointer;
}
.profile-btn:hover
{
    background:#f7d390;
    color: #1a1a1a;
}
#pengaturan-profilmu
{
    transform: translate(5%, 200%);
}
.buttons-left
{
    transform: translate(5%, 60%);
    display: flex;
    flex-direction: column;
}
#profilmu
{
    display: flex;
    width: 20vw;
    margin-bottom: 2vw;
    padding-left: 2vw;
    height: 2.5vw;
    padding-top: 0.3vw;
    border-radius: 0.5vw;
    border-color: rgba(128, 128, 128, 0.288);
    box-shadow: 2px 3px rgba(128, 128, 128, 0.288);
    border-width: 0.2px;
    cursor: pointer;
    background: #f7d390;
}
#lengkapi-profilmu
{
    display: flex;
    width: 20vw;
    margin-bottom: 2vw;
    padding-left: 2vw;
    height: 2.5vw;
    padding-top: 0.3vw;
    border-radius: 0.5vw;
    border-width: 0.2px;
    cursor: pointer;
    border-color: rgba(128, 128, 128, 0.288);
    box-shadow: 2px 3px rgba(128, 128, 128, 0.288);
    border-width: 0.2px;
    background: white;
    transition: 0.2s ease-in;
}
#lengkapi-profilmu:hover
{
    background: #f7d390;
}
#portofoliomu
{
    display: flex;
    width: 20vw;
    padding-left: 2vw;
    height: 2.5vw;
    padding-top: 0.3vw;
    border-radius: 0.5vw;
    border-width: 0.2px;
    cursor: pointer;
    border-color: rgba(128, 128, 128, 0.288);
    box-shadow: 2px 3px rgba(128, 128, 128, 0.288);
    border-width: 0.2px;
    background: white;
    transition: 0.2s ease-in;
}
#portofoliomu:hover
{
    background: #f7d390;
}
#keluar-akun
{
    display: flex;
    width: 20vw;
    transform: translateY(700%);
    padding-left: 2vw;
    height: 2.5vw;
    padding-top: 0.3vw;
    border-radius: 0.5vw;
    border-width: 0.2px;
    cursor: pointer;
    border-color: rgba(128, 128, 128, 0.288);
    box-shadow: 2px 3px rgba(128, 128, 128, 0.288);
    border-width: 0.2px;
    background: #FFC1C1;
}
#user-icon
{
    font-size: 1.3vw;
    margin-right: 2vw;
    margin-left: -0.5vw;
    margin-top: 0.3vw;
}
#clipboard-icon
{
    font-size: 1.3vw;
    margin-right: 2vw;
    margin-left: -0.4vw;
    margin-top: 0.3vw;
}
#file-icon
{
    font-size: 1.3vw;
    margin-right: 2vw;
    margin-left: -0.4vw;
    margin-top: 0.3vw;
}
#arrow-right1
{
    transform: translate(8vw, 0.5vw);
}
#arrow-right2
{
    transform: translate(1.2vw, 0.5vw)
}
#arrow-right3
{
    transform: translate(4.9vw, 0.5vw)
}
#logout
{
    transform: translate(7.8vw, 0.5vw)
}
.random-line
{
    padding-left: 8vw;
    margin-top: -1.5vw;
}
.line
{
    transform: rotate(90deg) translateY(-100%);
    padding-left: 2vw;
    margin-top: 10vw;
    padding-bottom: 0.2vw;
    color:#ccccccc1;
}
.profile-pic-div
{
    height: 10vw;
    width: 10vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
    transform: translate(-140%, -170%);
}
#photo
{
    height: 100%;
    width: 100%;
}
#file
{
    display: none;
}
#uploadBtn
{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: WHITE;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 13px;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
    display: none;
}
.user-name
{
    transform: translate(49%, -680%);
}
.phone-joined-on h3
{
    color:rgba(152, 149, 149, 0.757);
    font-weight: lighter;
}
.phone-joined-on
{
    transform: translate(49%, -1135%);
}
.email 
{
    transform: translate(49%, -870%);
}
.lengkapi h1
{
    transform: translate(35%, -550%);
}
.bidang-diminati h2
{
    transform: translate(37%, -710%);
    font-weight: 500;
}
.bidang-diminati input
{
    transform: translate(147%, -660%);
    width: 23vw;
    height: 2vw;
    border-radius: 0.5vw;
    padding-left: 0.5vw;
    border-color: #1a1a1a6c;
}
.sosial-media h1
{
    transform: translate(35%, -450%);
}
.instagram
{
    transform: translate(35%, -540%)
}
.instagram i
{
    font-size: 2vw;
    padding-right: 1vw;
    margin-right: 1.5vw;
}
.instagram input
{
    height: 1.5vw;
    width: 19vw;
}
.facebook
{
    transform: translate(35%, -470%)
}
.facebook i
{
    font-size: 2vw;
    padding-right: 1vw;
    margin-right: 1.25vw;    
}
.facebook input
{
    height: 1.5vw;
    width: 19vw;
}
.twitter
{
    transform: translate(35%, -500%)
}
.twitter i
{
    font-size: 2vw;
    padding-right: 1vw;
    margin-right: 1.25vw;    
}
.twitter input
{
    height: 1.5vw;
    width: 19vw;
}
.website
{
    transform: translate(35%, -430%)
}
.website i
{
    font-size: 2vw;
    padding-right: 1vw;
    margin-right: 1.25vw;    
}
.website input
{
    height: 1.5vw;
    width: 19vw;
}
