*
{
    margin: 0;
    padding: 0px;
    font-family: 'DM Sans', sans-serif;
}
body
{
    width: 100%;
}
.page-container
{
    width:100%;
    min-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}
#hamburger {
    display: none;
  }

  display: none;
}

.navbar {
background-color: white;
width: 90%;
display: flex;
flex-direction: row;
gap: 2vw;
align-items: center;
padding-left: 3vw;
z-index: 1;
box-shadow: 0px 3px rgba(204, 204, 204, 0.401);
position: fixed;
}

.logo {
width: 150px;
}

nav {
flex: 1;
text-align: right;
z-index: 1;
}
nav ul {
margin-bottom: 2%;
/* background: aqua; */
}
nav ul li {
margin-top: 2%;
list-style: none;
display: inline-block;
position: relative;
margin-right: 30px;
cursor: pointer;
/* background: aqua; */
}
nav ul li a {
text-decoration: none;
color: #1a1a1a;
}
nav ul li:nth-child(1) {
color: #1a1a1a;
}
nav ul li:nth-child(3)::after {
content: "";
height: 2px;
width: 100%;
border-radius: 100px;
background-color: #f7c873;
position: absolute;
left: 0;
bottom: -3px;
transition: 100ms ease-in;
}
nav ul li a::after {
content: "";
height: 2px;
width: 0;
border-radius: 100px;
background-color: #f7c873;
position: absolute;
left: 0;
bottom: -3px;
transition: 0.2s ease-in;
}
nav ul li a:hover::after {
color: #1a1a1a;
width: 100%;
}
nav ul li a:hover {
color: #1a1a1a;
}
.navbar input
{
margin-right:4vw;
}
.profil {
background-color: #1a1a1a;
color: #ffca6b;
width: 8%;
height: 30px;
border-radius: 5px;
border: none;
transition: 400ms;
cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.profil:hover {
background-color: #ffca6b;
font-weight: bold;
color: #1a1a1a;
}

#home-button:hover::after {
width: 100%;
}
#home-button::after {
content: " ";
width: 0%;
height: 4px;
background: #ffca6b;
display: block;
transition: 0.5s;
}
#home-icon {
padding-right: 0.3vw;
}
#favorite-icon {
padding-right: 0.3vw;
}
#favorit-button:hover::after {
width: 100%;
}
#favorit-button::after {
content: " ";
width: 0%;
height: 4px;
background: #ffca6b;
display: block;
transition: 0.5s;
}
#upload-icon {
padding-right: 0.3vw;
}
#unggah-button:hover::after {
width: 100%;
}
#unggah-button::after {
content: " ";
width: 0%;
height: 4px;
background: #ffca6b;
display: block;
transition: 0.5s;
}
#bell-icon {
padding-right: 0.3vw;
}
#notifikasi-button:hover::after {
width: 100%;
}
#notifikasi-button::after {
content: " ";
width: 0%;
height: 4px;
background: #ffca6b;
display: block;
transition: 0.5s;
}
.navbar-options-right {
padding-right: 4vw;
}
.profile-btn {
width: 8vw;
height: 2.4vw;
font-size: 1.2vw;
margin: -0.4vw 1vw;
/* margin: auto; */
/* transform: translateX(60%); */
background: #1a1a1a;
color: #ffca6b;
border-radius: 5px;
border: #1a1a1a00;
transition: 0.2s ease-in;
cursor: pointer;
}
.profile-btn:hover {
background: #f7d390;
color: #1a1a1a;
}
.profile-btn:active {
background-color: #ffb32b;
box-shadow: 0 6px #ebebeb;
transform: translateY(2px);
}
.navbar
{
    margin-top: 1.5vw;
    margin-left: 4vw;
    height: 4.25vw;
    /* background: aqua; */
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0px 3px rgba(204, 204, 204, 0.401);
}



.page-container {
  width: 100%;
  padding: 10% 20%;
  display: flex;
  flex-direction: column;
}
.title h3 {
  width: 96%;
  margin-top: 1%;
  font-weight: normal;
  font-size: 17px;
  color: #5b5b5b;
}

#contact-form {
  margin-top: 5%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: -1;
  position: relative;
}
.form1 {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
}
.form1 h4 {
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: normal;
}
.small-form {
  height: 30px;
  width: 93%;
  border-radius: 10px;
  padding-left: 2%;
  border: 1.5px solid #ffcd75;
  opacity: 70%;
}
#large {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
}
#large h4 {
  margin-bottom: 3%;
}
.large-form {
  height: 100%;
  width: 93%;
  border-radius: 10px;
  padding-left: 2%;
  border: 1.5px solid #ffcd75;
  opacity: 70%;
  text-align: justify;
}
.form1 .form-content {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.form-content h1 {
  font-weight: normal;
}
#durasi {
  width: 40%;
}
::placeholder {
  font-size: 15px;
}
::-webkit-file-upload-button {
  color: #1a1a1a;
  width: 100px;
  background-color: #f7d390;
  margin-top: 0.55%;
  padding: 4px;
  border: none;
  border-radius: 10px;
  outline: none;
}
.submit-btn {
  height: 5%;
  margin-left: 35%;
  width: 30%;
  background-color: #f7d390;
  color: #1a1a1a;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px #ebebeb;
  font-weight: bold;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #1a1a1a;
  color: #f7d390;
}
.submit-btn:active {
  background-color: #ffb32b;
  box-shadow: 0 6px #ebebeb;
  transform: translateY(-2px);
}

.invalid {
  color: rgb(172, 20, 20);
  font-size: 10px;
  height: 13px;
}
.form-content input:focus {
  border-color: #1a1a1a;
}
.form-content.success input {
  border-color: rgb(114, 253, 114);
}
.form-content.error input {
  border-color: rgb(172, 20, 20);
}

@media only screen and (max-width: 768px) {
  .title h1 {
    font-size: 20px;
  }
  .title h3 {
    font-size: 15px;
    text-align: justify;
  }
  .page-container {
    padding: 15% 10%;
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 24vw;
    transform: translateY(0%);
    padding: 4vw;
  }
  #hamburger {
    font-size: 6vw;
    display: flex;
    color: #1a1a1a;
    transition: color 0.3s ease;
  }
  .profil {
    display: none;
  }
  nav ul li {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: row;
    /* gap: 50vw; */
    justify-content: end;
    padding-right: 6vw;
  }
  .navbar {
    height: 10vw;
  }
  .show-nav {
    z-index: -1;
    position: absolute;
    background-color: #1a1a1a;
    height: 220vw;
    width: 50vw;
    top: 0;
    right: 0;
    transition: all 0.25s ease-in;
    translate: 10px 0px;
  }
  .show-nav ul li {
    top: 14vw;
    display: block;
  }
  ul li {
    font-weight: bold;
    font-size: 4vw;
    padding: 8vw;
    text-align: left;
  }
  nav ul li:nth-child(3)::after {
    width: 50%;
    background-color: #f7c873;
    position: absolute;
    left: 6vw;
    transition: 100ms ease-in;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  /* #hamburger {
    color: white !important;
  } */
  #hamburger.white {
    color: white;
  }
}
