@media only screen and (max-width: 768px) {
  .title h1 {
    font-size: 20px;
  }
  .title h3 {
    font-size: 15px;
    width: 100%;
    text-align: justify;
  }
  .page-container {
    width: 100%;
    padding: 15% 10%;
    display: flex;
    flex-direction: column;
  }
  #navbar-logo {
    width: 18vw;
  }
  .navbar {
    height: 8vw;
    /* display: flex; */
  }
  .ham-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .navbar-right {
    display: none;
  }

  .hamburger {
    display: block;
    width: 10vw;
  }
}
