<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../style/About-us.css">
</head>
<body>
    <div class="body-container">
        <div class="text">
            <div class="header">
                <p>Tentang</p>
                <img src="../assets/Homepage/logoblackversion.png" alt="">
            </div>
            <div class="text-lapak-kita">
                <p>lapak kita merupakan sebuah platform digital yang dikhususkan bagi para freelancer. Kami menjadikan lapak kita sebuah platform yang memungkinan para freelancer untuk menemukan pekerjaan sesuai dengan keahlian dan minat mereka. Dengan menghubungkan para freelancer dengan klien yang membutuhkan jasa mereka, kami membantu para freelancer untuk memperluas jangkauan pasar dan meningkatkan pasar mereka. </p>
            </div>
        </div>

        <div class="images">
            <img src="../assets/About-Us.png" alt="">
        </div>
    </div>

    <div class="yellow-grad">
    </div>
</body>
</html>