<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Informasi Loker</title>
    <link rel="stylesheet" href="../style/informasiloker.css" />
    <script src="/scripts/semua-loker.js"></script>
    <script src="/scripts/register.js"></script>
  </head>
  <body>
    <div class="body-container">
      <div class="header">
        <p>Informasi Loker</p>
      </div>

      <div class="body-left-right">
        <div class="left-content"></div>
        <!-- <div class="left">
          <div class="header-left">
            <img src="../assets/admin.png" alt="" />
            <div class="text-admin">
              <p id="position">Instagram Admin: Content and Marketing</p>
              <p>Diposting oleh Tenue de Attire</p>
            </div>
          </div>

          <div class="durasi-waktu">
            <p>Durasi Waktu</p>
          </div>
          <div class="tanggal">
            <p>27 Februari 2022 - 10 Maret 2023</p>
          </div>

          <div class="pendaftar">
            <p>6/12 pendaftar</p>
            <img src="../assets/rectangle-pendaftar.png" alt="" />
          </div>

          <div class="daftar">
            <p><a href="Msg-Tenue.html">Daftar</a></p>
          </div>
        </div> -->

        <div class="right">
          <div class="deskripsi">
            <p id="header-desc">Deskripsi</p>
            <p>
              Sebagai admin Instagram, tanggung jawabnya meliputi mengelola dan
              memantau akun serta konten, berinteraksi dengan pengguna, dan
              memastikan kepatuhan terhadap kebijakan dan pedoman platform.
            </p>
          </div>

          <div class="deskripsi">
            <p id="header-jenis">Jenis Lowongan</p>
            <p>Kerja paruh waktu - Remote (20 jam/minggu)</p>
          </div>

          <div class="deskripsi">
            <p id="header-kualifikasi">Kualifikasi</p>
            <p>Sosial Media Analisis</p>
          </div>

          <div class="skills">
            <p id="header-skills">Skills yang Dibutuhkan</p>
            <div class="skills-cards">
              <p>Komunikasi</p>
              <p>Manajemen</p>
              <p>Riset Konten</p>
              <p>Instagram Insights</p>
            </div>
          </div>

          <div class="deskripsi">
            <p id="header-pend">Pendidikan</p>
            <p>Pendidikan SMA/sederajat</p>
          </div>

          <div class="deskripsi">
            <p id="header-peng">Pengalaman</p>
            <p>Berpengalaman minimal 1 tahun sebagai admin media sosial</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
