<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informasi Loker</title>
    <link rel="stylesheet" href="../style/informasiloker.css">
</head>
<body>
    <div class="body-container">
        <div class="header">
            <p>Informasi Loker</p>
        </div>

        <div class="body-left-right">
            <div class="left">
                <div class="header-left">
                    <img src="../assets/event-icomn.png" alt="">
                    <div class="text-admin">
                        <p id = "position">Event Staff: The Sounds Project</p>
                        <p>The Sounds Project</p>
                    </div>
                </div>

                <div class="durasi-waktu">
                    <p>Durasi Waktu</p>
                </div>
                <div class="tanggal">
                    <p>27 Februari 2022 - 10 Maret 2023</p>
                </div>

                <div class="pendaftar">
                    <p>6/12 pendaftar</p>
                    <img src="../assets/rectangle-pendaftar.png" alt="">
                </div>

                <div class="daftar">
                    <p><a href="Msg-tsp.html">Daftar</a></p>
                </div>
            </div>

            <div class="right">
                <div class="deskripsi">
                    <p id = "header-desc">Deskripsi</p>
                    <p>Sebagai event staff, tanggung jawabnya melakukan persiapan dan pelaksanaan acara dengan tanggung jawab dalam pengaturan logistik, pengaturan tempat, dan koordinasi dengan vendor</p>
                </div>

                <div class="deskripsi">
                    <p id = "header-jenis">Jenis Lowongan</p>
                    <p>Seasonal - 20 September 2023</p>
                </div>
                
                <div class="deskripsi">
                    <p id = "header-kualifikasi">Kualifikasi</p>
                    <p>Sosial Media Analisis</p>
                </div>

                <div class="skills">
                    <p id = "header-skills">Skills yang Dibutuhkan</p>
                    <div class="skills-cards">
                        <p>Komunikasi</p>
                        <p>Manajemen</p>
                        <p>Kerja sama</p>
                    </div>
                </div>

                <div class="deskripsi">
                    <p id = "header-pend">Pendidikan</p>
                    <p>Pendidikan SMA/sederajat</p>
                </div>

                <div class="deskripsi">
                    <p id = "header-peng">Pengalaman</p>
                    <p>Terbuka untuk non-pengalaman</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>