<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/style/homepage.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7563b17235.js" crossorigin="anonymous"></script>
    <title>Lapak Kita</title>
</head>
<body>

<div class="page-container">
    <div class="navbar-container">
        <div class="navbar">
            <div id="navbar-left">
                <div class="logo" id="left">
                    <img src="/assets/Homepage/Logo animation for web.png" id="navbar-logo">
                </div>
                <div id="navbar-right">
                    <div class="main-button-right" id="right">
                        <h3 id="navbar-options-right">
                            <i class="fa-solid fa-circle-info" style="color: #ffffff;" id="icon1"></i>
                            <a href="#">Tentang Kami</a>
                        </h3>
                        <h3 id="navbar-options-right">
                            <i class="fa-solid fa-circle-question" style="color: #ffffff;" id="icon2"></i>
                            <a href="#">Bantuan</a>
                        </h3>
                        <h3 id="navbar-options-right">
                            <i class="fa-solid fa-envelope" style="color: #ffffff;" id="icon3"></i>
                            <a href="#">Kontak Kami</a>
                        </h3>
                        <!-- <h3 id="make-account-button">
                            <a onclick="window.location.href='locationspage.html'">Buat akun</a>
                        </h3> -->
                        <button id="make-account">
                            <a href="/View/login.html">Buat akun</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hero">
        <div class="hero-left">
            <div class="inilah-waktumu">
                <h1>
                    Inilah waktumu untuk <br> mendapatkan pekerjaan <br><mark style="background-color: #FFCA6B"><em>freelance</em></mark> yang kamu mau!
                </h1>
            </div>
            <div class="temukan-pekerjaan">
                <h4>
                    Temukan pekerjaan paruh waktu impianmu dan berkolaborasi bersama <br> UMKM.
                </h4>
            </div>
            <div class="mulai-sekarang-container">
                <div class="mulai-sekarang-left">
                    <i class="fa-regular fa-square-plus" style="color: #231F20;" id="add-icon"></i>
                    <div class="left-writing">
                        <h4>
                            Unggah
                        </h4>
                        <h5>
                            Unggah karya terbaikmu!
                        </h5>
                    </div>
                </div>
                <div class="mulai-sekarang-center">
                    <i class="fa-solid fa-arrow-trend-up" id="up-icon"></i>
                    <div class="center-writing">
                        <h4>
                            Performa
                        </h4>
                        <h5>
                            Lihat performa akunmu
                        </h5>
                    </div>
                </div>
                <div class="mulai-sekarang-right">
                    <button class="mulai-button">
                        <h3>
                            Mulai sekarang
                        </h3>
                    </button>
                </div>
            </div>
            <div class="umkm-terdaftar-container">
                <div class="umkm-terdaftar">
                    <img src="/assets/Homepage/umkm terdaftar.png" id="umkm-terdaftar-pic">
                </div>
            </div>
            <div class="hero-right">
                <div class="vector-image">
                    <img src="/assets/Homepage/vector-hero.png" id="vector">
                </div>
            </div>
        </div>
    </div>

    <div class="tentang-lapak-kita-container">
        <div class="background-image">
            <img src="/assets/Homepage/background-image-landing.png" id="backg-image">
        </div>
        <div class="bangkit-bersama"> 
            <div class="bangkit">
                <h2>
                    Bangkit bersama lapak kita, raih <br> kesukesanmu di dunia digital!
                </h2>
            </div>
            <div class="statistik-container">
                <div class="statistik1">
                    <h3 id="tigaribu-lowongan">
                        3,000+ lowongan
                    </h3>
                    <h5 id="pekerjaan-yang-bisa">
                        pekerjaan yang bisa kamu apply
                    </h5>
                </div>
                <div class="statistik2">
                    <h3 id="duaribu-freelancers">
                        2,000+ freelancers
                    </h3>
                    <h5 id="telah-bergabung-bersama">
                        telah bergabung bersama
                    </h5>
                </div>
                <div class="statistik3">
                    <h3 id="seribulimaratus-umkm">
                        1,500+ UMKM
                    </h3>
                    <h5 id="menunggu-untuk-berkontribusi">
                        menunggu untuk berkontribusi
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="fotografer-model-dll">
        <div class="left-section">
            <img src="/assets/Homepage/presentation1.gif" id="gif">
        </div>
        <div class="right-section">
            <div class="fotografer-model-text">
                <div class="top-section">
                    <h2>
                        Fotografer, Model, <br> Admin, dan lebih lagi!
                    </h2>
                </div>
                <div class="bottom-section">
                    <h5>
                        Dikhususkan untuk para freelancer yang bertalenta dalam <br> dunia digital,
                        kamu bisa menemukan proyek menarik dan <br> menambah penghasilanmu. 
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="gak-perlu-ribet">
        <div class="gak-perlu-ribet-left">
            <div class="top-text">
                <h2>
                    Gak perlu ribet, <br> pilihanmu beragam lho.
                </h2>
            </div>
            <div class="bottom-text">
                <h5>
                    Gak usah khawatir! <strong>lapak kita</strong> dapat memudahkan pencarian <br> kerja yang sesuai dengan
                    talenta kamu dengan menghubungkan <br> kamu dengan para pelaku  UMKM yang memiliki beragam
                    kebutuhan <br> dengan kerja. 
                </h5>
            </div>
        </div>
        <div class="gak-perlu-ribet-right">
            <div class="stack">
                <div class="card">
                    
                    <img src="/assets/Homepage/shufflecard1.png">
                </div>
                <div class="card">
                    
                    <img src="/assets/Homepage/shufflecard2.png">
                </div>
                <div class="card">
                    
                    <img src="/assets/Homepage/shufflecard3.png">
                </div>
              </div>
        </div>

        <div class="communication-is-key-container">
            <div class="communication-is-key"></div>
                <div class="communication-left">
                    <img src="/assets/Homepage/communicationiskey.png" id="commiskey">
                </div>
                <div class="communication-right">
                    <div class="communication-top">
                        <h2>
                            <em>Communication is key!</em>
                        </h2>
                    </div>
                    <div class="communication-bottom">
                        <h5>
                            Dengan fitur <strong>messaging</strong>, kamu bisa <em>reach out</em> kepada pelaku <br>UMKM
                            dan menawarkan jasa serta melakukan transaksi bisnis <br> dengan mudah dan aman. 
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="bangun-container">
            <div class="bangun-dan-cari">
                <div class="bangun-cari-left">
                    <div class="bangun-cari-top">
                        <h2>
                            Bangun dan cari <br> tahu audiensmu!
                        </h2>
                    </div>
                    <div class="bangun-cari-bottom">
                        <h5>
                            Fitur <strong><em>insights profile</em></strong> dapat memudahkanmu untuk<br> mengetahui dan
                            menjangkau audiensmu!
                        </h5>
                    </div>
                </div>
                <div class="bangun-cari-right">
                    <img src="/assets/Homepage/bangundancari.png" id="bangun-cari-pic">
                </div>
            </div>
        </div>

        <div class="siap-membuat-container">
            <div class="siap-membuat-cv">
                <div class="siap-membuat-left">
                    <img src="/assets/Homepage/portfolio.png" id="siap-membuat-pic">
                </div>
                <div class="siap-membuat-right">
                    <div class="siap-membuat-top">
                        <h2>
                            Siap membuat CV dan <br> portfolio?
                        </h2>
                    </div>
                    <div class="siap-membuat-bottom">
                        <h5>
                            Tenang aja, <strong>lapak kita</strong> sudah menyediakan template yang <br> sesuai kebutuhan 
                            kamu. Kamu bisa melengkapi template, <br> dan menambah catatan, serta mengunggah portfolio
                            tersebut <br> pada lamanmu. 
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="tunggu-apa-container">
            <div class="tunggu-apa-lg-bg">
                <img src="/assets/Homepage/abovefooter.png" id="abovefooter">
            </div>
            <div class="tunggu-apa-lg">
                <div class="tunggu-apa-left">
                    <img src="/assets/Homepage/testimony.png" id="testimony">
                </div>
                <div class="tunggu-apa-right">
                    <div class="tunggu-apa-top">
                        <h2>
                            Tunggu apa lagi?
                        </h2>
                    </div>
                    <div class="tunggu-apa-bottom">
                        <h5>
                            Yuk, bangkit bersama lapak kita.    
                        </h5>
                    </div>
                    <button class="mulai-sekarang-button" id="mulai-sekarang-button">
                        Mulai sekarang
                    </button>
                </div>
            </div>
        </div>

        <div class="footer-container">
            <div class="footer">
                <div class="footer-left">
                    <div class="logo-footer">
                        <img src="/assets/Homepage/logoblackversion.png" id="logo-footer">
                    </div>
                    <div class="social-media" id="social-media">
                        <i class="fa-brands fa-square-instagram" style="color: #000000;"></i>
                        <i class="fa-brands fa-twitter" style="color: #000000;"></i>
                        <i class="fa-brands fa-facebook" style="color: #000000;"></i>
                    </div>
                    <div class="bantuan">
                        <h4>
                            Bantuan
                        </h4>
                    </div>
                    <div class="privacy">
                        <h4>
                            Privacy & Policy
                        </h4>
                    </div>
                    <div class="copyright">
                        <h4>
                            2023 lapak kita, All Right Reserved.
                        </h4>
                    </div>
                </div>
                <div class="footer-right">
                    <div class="kontak-kami">
                        <h2>
                            Kontak Kami
                        </h2>
                    </div>
                    <div class="contact-us">
                        <div class="contact-us-nama">
                            <h4 id="nama-form">
                                Nama
                            </h4>
                            <input type="text" name="nama" id="nama">
                        </div>
                        <div class="contact-us-email">
                            <h4 id="email-form">
                                E-mail
                            </h4>
                            <input type="text" name="email" id="email">
                        </div>
                        <div class="contact-us-subject">
                            <h4 id="subject-form">
                                Subject
                            </h4>
                            <input type="text" name="subject" id="subject">
                        </div>
                        <div class="contact-us-message">
                            <h4 id="message-form">
                                Message
                            </h4>
                            <input type="text" name="message" id="message">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="/scripts/homepage.js" defer></script>
</html>