<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesan</title>
    <link rel="stylesheet" href="../style/Msg-tenue.css">
</head>
<body>
    <div class="body-container">
        <div class="body-right">
            <div class="header">
                <p>Pesan</p>
            </div>
            <div id="shop-container"></div>
        </div>

        <div class="body-left">
            <div id="cookies-container">
                <div class="shop-info">
                    <div class="images">
                        <img src="../assets/tsp-logo.jpg" alt="Shop Image">
                    </div>
    
                    <div class="text-shop-info">
                        <p>The Sounds Project</p>
                        <div class="desc-shop">
                            <p>Event - Concert</p>                            <div class="type-activity">
                                <div class="circle grey"></div>
                                <p>Tidak Aktif</p>
                            </div>
                        </div>
                    </div>

                    <div class="three-dots">
                        <img src="../assets/three-dots.png" alt="">
                    </div>
                </div>
            </div>

            <div class="time-date">
                <p>Senin, 1 Maret 2023</p>
                <p>Mulai pembicaraanmu!</p>
            </div>

            <div class="template-message">
                <div class="baris-1">
                    <div class="option-1">
                        <p>Halo, apakah ada lowongan untuk...</p>
                    </div>
                    <div class="option-2">
                        <p>Apakah lamaran saya masuk?</p>
                    </div>
                </div>

                <div class="baris-2">
                    <p>Terima kasih atas infonya!</p>
                </div>
            </div>

            <div class="chat-message">
                <div class="icon-add">
                    <img src="../assets/iconadd.png" alt="">
                </div>

                <div class="text-box">
                    <img src="../assets/send-vector.png" alt="">
                    <textarea id="message" rows="4" cols="80" placeholder="Tulis disini..."></textarea>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../scripts/Msg-tsp.js"></script>


</body>


</html>