<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Performa Profilmu</title>
    <link rel="stylesheet" href="../style/Performa-Akun.css">
</head>
<body>
    <div class="body-container">
        <div class="header">
            <p>Performa Profilmu</p>
            <div class="yellow-line"></div>
        </div>

        <div class="header-minggu-ini">
            <p>Minggu Ini</p>
            <div class="date">
                <img src="../assets/time.png" alt="">
                <p>12 - 19 Juni 2023</p>
            </div>
        </div>

        <div class="upper">
            <div class="aktivitasmu">
                <p>Kamu berhasil mengunggah <b>3 portofolio</b> dan melamar pada <b>5 posisi pekerjaan</b>.</p>
                <p id = "aktivitas-head">Aktivitasmu</p>
            </div>

            <div class="pengunjung">
                <p>1,900 pelaku UMKM mengunjungi profil dan melihat portofoliomu.</p>
                <p id = "pengunjung-head">Pengunjung</p>
            </div>

            <div class="percentage">
                <img src="../assets/percentage.png" alt="">
                <p>pengunjung mengunjungi halaman  portofoliomu.</p>
            </div>
        </div>

        <div class="lower">
            <div class="left">
                <p>Aktivitas Pengunjung pada Profilmu</p>
                <img src="../assets/line-chart.png" alt="">
            </div>
            <div class="right">
                <div class="admin">
                    <p>#1 Instagram Admin</p>
                    <p id = "pengunjung">450 pengunjung</p>
                </div>
    
                <div class="pembuat">
                    <p>#2 Pembuat Konten</p>
                    <p id = "pengunjung">420 pengunjung</p>
                </div>
    
                <div class="editor">
                    <p>#3 Editor Konten</p>
                    <p id = "pengunjung">208 pengunjung</p>
                </div>
    
                <div class="header-performa">
                    <p>Performa Portofoliomu</p>
                </div>
            </div>
        </div>

    </div>
    
</body>
</html>