<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/style/portfolio-view1.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7563b17235.js" crossorigin="anonymous"></script>
    <title>Lapak Kita</title>
</head>
<body>

    <div class="page-container">
        <div class="navbar-container">
            <div class="navbar">
                <img src="/assets/logonavbarblackversion.png" class="logo" />
                <nav>
                  <div class="nav-menu">
                    <div class="nav-con">
                      <ul>
                        <li><a href="/View/Home.html"> Utama </a></li>
                        <li><a href="/View/SemuaLoker.html"> Loker </a></li>
                        <li><a href="/View/Unggah.html"> Unggah </a></li>
                        <li><a href="/View/Notifikasi.html"> Pesan </a></li>
                      </ul>
                    </div>
                  </div>
                  <i id="hamburger" class="fa fa-bars"></i>
                </nav>
                <input type="button" value="Profil" class="profil" />
              </div>
            <div class="prev-content" id="prev-content">
                <div class="page-left">

                    <div class="pengaturan-profilmu"></div>
                        <h2 id="pengaturan-profilmu">Pengaturan Profilmu</h2>
                    </div>
                    
                    <div class="buttons-left">
                        <button id="profilmu">
                            <i class="fa-regular fa-user" style="color: #1a1a1a;" id="user-icon"></i>
                            <a href="/View/profilepage.html"><h2> Profilmu </h2></a>
                            <i class="fa-solid fa-angle-right" style="color: #1a1a1a;" id="arrow-right1"></i>
                        </button>

                        <button id="lengkapi-profilmu">
                            <i class="fa-regular fa-clipboard" id="clipboard-icon"></i>
                            <a href="/View/profile-lengkapi1.html"><h2> Lengkapi Profilmu! </h2></a>
                            <i class="fa-solid fa-angle-right" style="color: #1a1a1a;" id="arrow-right2"></i>
                        </button>

                        <button id="portofoliomu">
                            <i class="fa-regular fa-file" id="file-icon"></i>
                            <a href="#"><h2> Portofoliomu </h2></a>
                            <i class="fa-solid fa-angle-right" style="color: #1a1a1a;" id="arrow-right3"></i>
                        </button>

                        <button id="keluar-akun">
                            <h2> Keluar Akun</h2>
                            <i class="fa-solid fa-arrow-right-from-bracket" id="logout"></i>
                        </button>
                    </div>
                </div>
                <div class="random-line">
                    <hr class="line" width="45%" color="#ccccccc1">
                </div>
                <div class="page-right">
                    <div class="first-line">
                        <div class="arrow-left">
                            <a href="/View/profile-portfoliomu.html"><i class="fa-solid fa-angle-left" style="color: #000000;" id="arrow-left"></i></a>
                        </div>
                        <div class="title">
                            <h1>Portfoliomu</h1>
                        </div>
                        <div class="judul">
                            <h1>Judul</h1>
                        </div>
                        <div class="lokasi">
                            <h1>Lokasi</h1>
                        </div>
                        <div class="judul-portfolio">
                            <h3>Instagram Admin</h3>
                        </div>
                        <div class="lokasi-portfolio">
                            <h3>Remote - Jakarta</h3>
                        </div>
                    </div>
                    <div class="second-line">
                        <div class="durasi">
                            <h1>Durasi</h1>
                        </div>
                        <div class="durasi-mulai">
                            <h4>Mulai</h4>
                        </div>
                        <div class="durasi-akhir">
                            <h4>Akhir</h4>
                        </div>
                        <div class="durasi-mulai-portfolio">
                            <h3>17 Februari 2020</h3>
                        </div>
                        <div class="durasi-akhir-portfolio">
                            <h3>17 Januari 2022</h3>
                        </div>
                    </div>
                    <div class="third-line">
                        <div class="deskripsi">
                            <h1>Deskripsi</h1>
                        </div>
                        <div class="deskripsi-portfolio">
                            <p>Bekerja sebagai admin di sosial media Instagram milik 
                                UMKM yang menjual produk homemade roti. Berhasil 
                                mengatur segala grafik ketenaran sosial media dan berhasil 
                                mengatasi masalah turunnya minat pembeli. 
                            </p>
                        </div>
                    </div>
                    <div class="portfolio-img">
                        <img src="/assets/instagram admin portfolio.png" id="portfolio-img">
                    </div>
                    <div class="catatan-lainnya-core">
                        <div class="catatan-lainnya">
                            <h1>Catatan Lainnya</h1>
                        </div>
                        <div class="catatan-lainnya-portfolio">
                            <p>Bekerja sama dengan UMKM bernama RotiKu merupakan sebuah
                                pengalaman yang tak akan terlupakan bagi saya. Saya banyak 
                                belajar dari pemilik UMKM ini juga. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>