<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/style/profile-lengkapi1.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
      rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/7563b17235.js"
      crossorigin="anonymous"></script>
    <title>Pengaturan Profil</title>
    <script src="/scripts/main.js" defer></script>
  </head>
  <body>
    <div class="page-container">
      <div class="navbar-container">
        <div class="navbar">
          <img src="/assets/logonavbarblackversion.png" class="logo" />
          <nav>
            <div class="nav-menu">
              <div class="nav-con">
                <ul>
                  <li><a href="/View/Home.html"> Utama </a></li>
                  <li><a href="/View/SemuaLoker.html"> Loker </a></li>
                  <li><a href="/View/Unggah.html"> Unggah </a></li>
                  <li><a href="/View/Message.html"> Pesan </a></li>
                  <li>
                    <a href="/View/profilepage.html" id="ham"> Profil </a>
                  </li>
                </ul>
              </div>
            </div>
            <i id="hamburger" class="fa fa-bars"></i>
          </nav>
          <button
            onclick="window.location.href = '/View/profilepage.html'"
            value="Profil"
            class="profil">
            Profil
          </button>
        </div>
      </div>

      <div class="body-container">
        <div class="left">
          <div class="header">
            <p>Pengaturan Profil</p>
          </div>

          <div class="opts">
            <a href="/View/profilepage.html"
              ><button id="profilmu">
                <img src="../assets/profile-logo.png" alt="" />
                Profilmu
              </button></a
            >

            <a href="#"
              ><button id="lengkapi-profilmu">
                <img src="../assets/lengkapi-porto.png" alt="" />
                Lengkapi Profilmu
              </button></a
            >

            <a href="/View/profile-portfoliomu.html"
              ><button id="portofoliomu">
                <img src="../assets/porto-logo.png" alt="" />
                Portofoliomu
              </button></a
            >

            <a href="register.html"
              ><button id="keluar-akun">
                Keluar Akun
                <img src="../assets/logout-logo.png" alt="" /></button
            ></a>
          </div>
        </div>

        <div class="line-grey"></div>

        <div class="right">
          <div class="header">
            <p>Lengkapi Data Akun</p>
          </div>

          <form id="profile-detail">
            <div class="posisi-yang-diminati">
              <div class="header">
                <h2>Posisi Diminati</h2>
              </div>
              <input type="text" placeholder="Admin Instagram" id="pos" />
            </div>

            <div class="med-sos">
              <div class="header">
                <p>Sosial Media</p>
              </div>

              <div class="sosial-media">
                <div class="instagram">
                  <img src="../assets/instagram-logo.png" alt="" />
                  <input
                    type="text"
                    placeholder="@ayu_diaz"
                    id="instagram-username" />
                </div>

                <div class="linked-in">
                  <img src="../assets/linked-in.png" alt="" />
                  <input
                    type="text"
                    placeholder="linkedin.com/in/AyuDiaz/"
                    id="linked-in" />
                </div>

                <div class="website">
                  <img src="../assets/website-logo.png" alt="" />
                  <input
                    type="text"
                    placeholder="www.ayudiaz.id"
                    id="website-username" />
                </div>

                <div class="btn-submit">
                  <button type="submit" id="redirectButton">Simpan Data</button>
                </div>
              </div>
            </div>
          </form>

          <script>
            document
              .getElementById("profile-detail")
              .addEventListener("submit", function (e) {
                e.preventDefault();

                var pos = document.getElementById("pos").value;
                var ig = document.getElementById("instagram-username").value;
                var linked = document.getElementById("linked-in").value;
                var sites = document.getElementById("website-username").value;

                var sosmed = {
                  position: pos,
                  instagram: ig,
                  linkedIn: linked,
                  website: sites,
                };

                var sosmedData = localStorage.getItem("sosmed");
                var sosmedArray = sosmedData ? JSON.parse(sosmedData) : [];
                sosmedArray.push(sosmed);
                localStorage.setItem("sosmed", JSON.stringify(sosmedArray));
                console.log(sosmedArray);
                console.log(sosmedData);
                // window.location.href = '/View/profilepage.html';
              });
          </script>

          <div class="bottom-arrow">
            <i
              class="fa-solid fa-angle-left"
              style="color: #c4c6d0"
              id="prev-arrow"></i>
            <a href="/View/profile-lengkapi2.html"
              ><i
                class="fa-solid fa-angle-right"
                style="color: #000000"
                id="next-arrow"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/scripts/main.js"></script>
</html>
