<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/style/profilepage.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
      rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/7563b17235.js"
      crossorigin="anonymous"></script>
    <title>Pengaturan Profil</title>
    <script src="/scripts/main.js" defer></script>
  </head>
  <body>
    <div class="page-container">
      <div class="navbar-container">
        <div class="navbar">
          <img src="/assets/logonavbarblackversion.png" class="logo" />
          <nav>
            <div class="nav-menu">
              <div class="nav-con">
                <ul>
                  <li><a href="/View/Home.html"> Utama </a></li>
                  <li><a href="/View/SemuaLoker.html"> Loker </a></li>
                  <li><a href="/View/Unggah.html"> Unggah </a></li>
                  <li><a href="/View/Message.html"> Pesan </a></li>
                  <li><a href="/View/profilepage.html"> Profile </a></li>
                </ul>
              </div>
            </div>
            <i id="hamburger" class="fa fa-bars"></i>
          </nav>
          <input type="button" value="Profil" class="profil" />
        </div>
      </div>

      <div class="body-container">
        <div class="left">
          <div class="header">
            <p>Pengaturan Profil</p>
          </div>

          <div class="opts">
            <a href="#"
              ><button id="profilmu">
                <img src="../assets/profile-logo.png" alt="" />
                Profilmu
              </button></a
            >

            <a href="/View/profile-lengkapi1.html"
              ><button id="lengkapi-profilmu">
                <img src="../assets/lengkapi-porto.png" alt="" />
                Lengkapi Profilmu
              </button></a
            >

            <a href="/View/profile-portfoliomu.html"
              ><button id="portofoliomu">
                <img src="../assets/porto-logo.png" alt="" />
                Portofoliomu
              </button></a
            >

            <a href="register.html"
              ><button id="keluar-akun">
                Keluar Akun
                <img src="../assets/logout-logo.png" alt="" /></button
            ></a>
          </div>
        </div>

        <div class="line-grey"></div>

        <div class="page-right">
          <div class="main-profile-container">
            <div class="main-profile-left">
              <div class="profile-pic-div">
                <img src="/assets/default-profile-pic.webp" id="photo" />
                <input type="file" id="file" />
                <label for="file" id="uploadBtn">Choose Photo</label>
              </div>
            </div>
            <div class="main-profile-right">
              <div id="user"></div>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  var storedData = localStorage.getItem("user");
                  var jsonArray = storedData ? JSON.parse(storedData) : [];

                  if (jsonArray.length > 0) {
                    var currentUser = jsonArray[jsonArray.length - 1];
                    var username = currentUser.name;
                    var email = currentUser.email;
                    var tlp = currentUser.noTLP;
                    var usersElement = document.getElementById("user");
                    var emailElement = document.getElementById("email");
                    var timeElement =
                      document.getElementById("phone-joined-on");
                    usersElement.innerHTML = `<h1>${username}!</h1>`;
                    emailElement.innerHTML = ` <h2>${email}</h2>`;
                    timeElement.innerHTML = ` <h3>${tlp} | Bergabung pada 12 Sep 2019</h3>`;
                  }
                });
              </script>
              <div id="phone-joined-on"></div>
              <div id="email"></div>
            </div>
          </div>
          <div class="bottom-section">
            <div class="lengkapi-section">
              <div class="lengkapi">
                <h1>Lengkapi Data Akun</h1>
              </div>
              <div class="bidang-diminati">
                <h2>Bidang yang Diminati</h2>
                <div id="posit"></div>
                <!-- <h4><mark id="posit">Lengkapi Profil pribadi mu</mark></h4> -->
              </div>
            </div>
            <div class="sosial-media">
              <h1>Sosial Media</h1>
              <div class="instagram" id="instagram">
                <i class="fa-brands fa-instagram"></i>
              </div>
              <div class="linked-in">
                <img src="/assets/linked-in.png" id="linked-in-img" />
                <h4 id="link">linkedin.com/</h4>
              </div>
              <div class="website">
                <img src="/assets/website-logo.png" id="website-img" />
                <h4 id="www">www.</h4>
              </div>
            </div>
            <script>
              document.addEventListener("DOMContentLoaded", () => {
                var userSosmed = localStorage.getItem("sosmed");
                var sosmedArray = userSosmed ? JSON.parse(userSosmed) : [];

                if (sosmedArray.length > 0) {
                  var len = sosmedArray[sosmedArray.length - 1];
                  var pos = userSosmed.pos;
                  var insta = currentUser.instagram;
                  var linked = currentUser.linkedIn;
                  var sites = currentUser.website;
                  var posElement = document.getElementById("posit");
                  var igElement = document.getElementById("insta");
                  var linkElement = document.getElementById("link");
                  var webElement = document.getElementById("www");

                  posElement.innerHTML = `<h4><mark>${pos}</mark></h4>`;
                  igElement.innerHTML = `${insta}`;
                  linkElement.innerHTML = `${linked}`;
                  webElement.innerHTML = `${sites}`;
                }
              });
            </script>
          </div>
        </div>
      </div>
    </div>
    <script src="/scripts/profilepage.js" defer></script>
    <script src="/scripts/register.js" defer></script>
  </body>
  <script src="/scripts/profilepage.js" defer></script>
</html>
