<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lapak kita</title>
    <link rel="icon" type="image/png" href="/assets/logo.png" />
    <link rel="stylesheet" href="/style/register.css" />
    <script src="/scripts/Login_Register.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="content-baseline">
        <div class="logo">
          <img
            src="/assets/Login_Register/Logo animation for web.png"
            style="width: 160px"
            alt="Logo" />
        </div>
        <div class="fill-in-text">
          <h1>Bangkit bersama lapak kita!</h1>
          <br />
          <p>
            Bergabunglah dengan lapak kita dan unggah portofoliomu untuk
            berkolaborasi dengan UMKM.
          </p>
        </div>
        <div class="testimoni">
          <img src="/assets/Login_Register/Testimoni.png" alt="" />
          <p>
            Ngemudahin banget deh lapak kita buat gue ketemu client dan
            transparansi lokernya juga ngebantu gue buat tau apa yang gue mau.
          </p>
          <br />
          <p>-Timmy John, Admin Media Sosial</p>
        </div>
        <div class="regist">
          <div class="fill-info">
            <h1>Buat Akun</h1>
            <p>
              Sudah punya akun?
              <span
                ><a href="/view/login.html" style="color: #ffa502"
                  >Yuk Masuk disini.</a
                ></span
              >
            </p>
            <br />
          </div>
          <!-- <br /> -->
          <form action="" id="form-field">
            <div class="input-box">
              <label for="error" id="error"></label>
              <p>Nama Lengkap</p>
              <input type="text" placeholder="Ayu Diaz" id="name" />
            </div>
            <div class="input-box">
              <p>Email</p>
              <input type="email" placeholder="AyuDiaz@Gmail.com" id="email" />
            </div>
            <div class="input-box">
              <p>Nomor Ponsel</p>
              <input type="tel" placeholder="0813461239" id="tlp" />
            </div>
            <div class="input-box">
              <p>Kata Sandi</p>
              <input type="text" placeholder="Minimum 8 karakter" id="password" />
            </div>
            <div class="input-box">
              <p>Konfirmasi Kata Sandi</p>
              <input type="text" placeholder="Minimum 8 karakter" id="confirm" />
            </div>
            <div class="policy">
              <label for="checkboxid" class="checkbox">
                <input type="checkbox" id="checkbox" />
                <span class="pol"
                  >Saya setuju dengan segala ketentuan dan peraturan lapak
                  kita.</span
                >
                <br />
                <span class="poli"> Syarat dan ketetuan berlaku</span>
              </label>
            </div>
            <div class="register">
              <button type="submit">
                <b style="font-size: larger">Daftar</b>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
