<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/Unggah.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap"
      rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/80c4be0417.js"
      crossorigin="anonymous"></script>
    <title>Unggah Portofolio</title>
  </head>
  <body>
    <div class="navbar">
      <img src="/assets/logonavbarblackversion.png" class="logo" />
      <nav>
        <div class="nav-menu">
          <div class="nav-con">
            <ul>
              <li><a href="/View/Home.html"> Utama </a></li>
              <li><a href="/View/SemuaLoker.html"> Loker </a></li>
              <li><a href="/View/Unggah.html"> Unggah </a></li>
              <li><a href="/View/Notifikasi.html"> Pesan </a></li>
            </ul>
          </div>
        </div>
        <i id="hamburger" class="fa fa-bars"></i>
      </nav>
      <!-- <a href="/View/profilepage.html" class="profil">Profil</a> -->
      <input type="button" onclick="window.location.href = '/View/profilepage.html'" value="Profil" class="profil" />
    </div>

    <div class="page-container">
      <div class="title">
        <h1>Unggah</h1>
        <h3>
          Bingung sudah melamar namun tidak diterima oleh UMKM-nya? Mungkin
          portofoliomu kurang. Yuk unggah portofoliomu disini. Pastikan original
          buatanmu yaa!
        </h3>
      </div>

      <form id="contact-form" name="contact-form">
        <div class="form1">
          <h4>Judul</h4>
          <div class="form-content">
            <input
              id="judul"
              type="text"
              name="judul"
              class="small-form"
              placeholder="Contoh: Instagram Admin" />
            <!-- <i class="fa-solid fa-check" style="color: #1bc117"></i> -->
          </div>
          <div class="invalid"></div>
        </div>

        <div class="form1" id="large">
          <h4>Deskripsi</h4>
          <div class="form-content">
            <input
              id="deskripsi"
              type="text"
              name="deskripsi"
              class="large-form"
              placeholder="Isi dengan deskripsi pekerjaanmu." />
            <!-- <i class="fa-solid fa-check" style="color: #1bc117"></i> -->
          </div>
          <div class="invalid"></div>
        </div>

        <div class="form1">
          <h4>Foto Hasil Kerja</h4>
          <div class="form-content">
            <input
              id="foto"
              type="file"
              name="foto"
              class="small-form"
              accept="image/jpg"
              accept="image/jpeg"
              accept="image/png" />
            <!-- <i class="fa-solid fa-check" style="color: #1bc117"></i> -->
          </div>
          <div class="invalid"></div>
        </div>

        <div class="form1">
          <h4>Durasi Bekerja</h4>
          <div class="form-content">
            <input id="durasi" type="date" name="durasi" class="small-form" />
            <h1>-</h1>
            <input id="durasi" type="date" name="durasi" class="small-form" />
            <!-- <i class="fa-solid fa-check" style="color: #1bc117"></i> -->
          </div>
          <div class="invalid"></div>
        </div>

        <div class="form1">
          <h4>Lokasi</h4>
          <div class="form-content">
            <input
              id="lokasi"
              type="type"
              name="lokasi"
              class="small-form"
              placeholder="Remote - Jakarta" />
            <!-- <i class="fa-solid fa-check" style="color: #1bc117"></i> -->
          </div>
          <div class="invalid"></div>
        </div>

        <div class="form1" id="large">
          <h4>Catatan Lainnya</h4>
          <div class="form-content">
            <input
              id="catatan"
              type="text"
              name="catatan"
              class="large-form"
              placeholder="Isi dengan penjelasan lain tentang pekerjaan ini." />
            <!-- <i class="fa-solid fa-check" style="color: #1bc117"></i> -->
          </div>
          <div class="invalid"></div>
        </div>

        <button class="submit-btn">Unggah</button>
      </form>
    </div>

    <script src="/scripts/Unggah.js" defer></script>
    <script src="/scripts/main.js" defer></script>
  </body>
</html>
